* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  background-color: black;
}
#main__container {
  margin: 0;
  padding: 0;
  width: auto;
}
.header {
  background-image: url("../img/1.jpg");
  background-repeat: no-repeat;
  /* height: 120%; */
  border-bottom: 8px solid #222;
  /* max-width: 100%; */
  height: auto;
  opacity: .8;
}
.netflix_logo {
  width: 10rem;
  height: 5rem;
}
.header_left_content {
  display: flex;
  justify-content: space-between;
  /* width: 12%; */
  width: 10%;
}
#signIn__btn {
  background-color: red;
  color: #fff;
  text-transform: capitalize;
}
.lang__select {
  color: #000000;
  width: fit-content;
  padding-top: 0.6rem;
  padding-bottom: 0.5rem;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #aaa;
  color: #fff;
  font-size: 0.875rem;
}
#header__second {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 0;
  padding-right: 0;
}
.center__header__div {
  position: relative;
  width: 100%;
  padding: 5% 0;
  max-width: 950px;
  text-align: right;
  z-index: 1;
  color: #fff;
}
.center__header__div > div {
  padding: 4rem;
  /* background-color: green; */
}
.story__card > h1 {
  font-size: 4rem;
}
.story__card > h2 {
  font-size: 1.5rem;
}
.story__card > h4 {
  font-size: 1.2rem;
}
.sign__up {
  display: flex;
  justify-content: end;
  height: 3rem;
}
.started__div {
  /* background-color: red; */
  width: 25rem;
}
.started__div > form > input {
  border-radius: 0.2rem;
}
.started__div > form > input:focus {
  outline: none;
}
.started__btn {
  width: 8rem;
}
.middle__part__one {
  padding: 2rem 0 2rem 0;
  border-bottom: 8px solid #222;
}
.row__mid {
  display: flex;
  align-items: center;
  color: #fff;
}
.row__mid > .mid__img__one > img {
  width: 32rem;
  height: auto;
}
.middle__part__two,
.middle__part__qs {
  padding: 2rem 0 2rem 0;
  border-bottom: 8px solid #222;
}
.middle__part__three {
  padding: 2rem 0 2rem 0;
  border-bottom: 8px solid #222;
}
.middle__part__four {
  padding: 2rem 0 2rem 0;
  border-bottom: 8px solid #222;
}
.middle__part__qs .container {
  width: 60rem;
}
.qs__container > .container > ul {
  width: 75%;
  margin: 2em auto;
}
.qs__container > .container > ul > li {
  font-size: 1.625rem;
  font-weight: 400;
}
.qs__card {
  padding: 0.8em 2.2em 0.8em 1.2em;
  margin-bottom: 1px;
  font-weight: 400;
  position: relative;
  width: 100%;
  border: 0;
  background-color: #333;
  color: #fff;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.table > :not(caption) > * > *{
  border-bottom: 0;
}
.table > thead{
  border-bottom: none;
}
@media (min-width: 320px) and (max-width: 375px) {
  .header {
    background-size: 100% 100%;
    width: 30.5rem;
  }
  .header_left_content {
    width: 10rem;
  }
  .netflix_logo {
    width: 6rem;
    /* height: 4rem; */
  }
  .story__card > h1 {
    font-size: 1rem;
  }
  .lang__select {
    font-size: 0.575rem;
    width: 5rem;
  }
  #signIn__btn {
    font-size: 0.575rem;
    line-height: 2;
  }
  .story__card > h2 {
    font-size: 1rem;
  }
  .story__card > h4 {
    font-size: 0.9rem;
  }
  .center__header__div {
    text-align: center;
  }
  .sign__up {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .started__div {
    width: 12rem;
  }
  .started__btn {
    margin-top: 0.5rem;
    width: 12rem;
    background-color: rgba(255, 0, 0, 0.767);
    color: #fff !important;
  }
  #main__container {
    width: revert;
  }
}
@media (min-width: 375px) and (max-width: 425px) {
  .sign__up {
    align-items: center;
  }
  #signIn__btn {
    font-size: 0.775rem;
  }
  .lang__select {
    font-size: 0.875rem;
    width: 6rem;
  }
  .header_left_content {
    width: 11rem;
  }
  #main__container {
    width: revert;
  }
}
@media (min-width: 425px) and (max-width: 576px) {
  .sign__up {
    align-items: center;
  }
  #signIn__btn {
    font-size: 0.775rem;
  }
  .lang__select {
    font-size: 0.875rem;
    width: 6rem;
  }
  .header_left_content {
    width: 11rem;
  }
  .header {
    background-size: 100% 100%;
    width: 30.5rem;
  }
  .header_left_content {
    width: 11rem;
  }
  .sign__up {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .started__div {
    width: 12rem;
  }
  .story__card {
    text-align: center;
  }
  .started__btn {
    margin-top: 0.5rem;
    width: 12rem;
    background-color: rgba(255, 0, 0, 0.767);
    color: #fff !important;
    text-align: center;
  }
  .story__card > h1 {
    font-size: 2rem;
  }
  #main__container {
    width: revert;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .header {
    background-size: 100% 100%;
  }
  .header_left_content {
    width: 11rem;
  }
  .story__card {
    text-align: center;
  }
  .started__btn {
    width: 10rem;
  }
  .story__card > h1 {
    font-size: 2.5rem;
  }
  #main__container {
    width: revert;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header {
    background-size: 100% 100%;
    width: 55rem;
  }
  .header_left_content {
    width: 11rem;
  }
  .story__card > h1 {
    font-size: 2.5rem;
  }
  .started__btn > .btn:hover {
    background-color: rgba(255, 0, 0, 0.767);
    color: #fff !important;
  }
  .started__btn {
    width: 8rem;
  }
  #main__container {
    width: revert;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header {
    background-size: 100% 100%;
  }
  .header_left_content {
    width: 11rem;
  }
  .story__card > h1 {
    font-size: 2.5rem;
  }
  .started__btn {
    width: 8rem;
  }
  .started__btn > .btn:hover {
    background-color: rgba(255, 0, 0, 0.767);
    color: #fff !important;
  }
  #main__container {
    width: auto;
  }
}
@media (min-width: 1200px) and (max-width: 1800px) {
  .header {
    background-size: 100% 120%;
    /* height: 80%; */
  }
  .header_left_content {
    width: 11rem;
  }
  .story__card > h1 {
    font-size: 2.5rem;
  }
  .started__btn {
    width: 8rem;
  }
  .started__btn > .btn:hover {
    background-color: rgba(255, 0, 0, 0.767);
    color: #fff !important;
  }
}
@media (min-width: 1800px) {
  .story__card > h1 {
    font-size: 4rem;
  }
  .started__btn {
    width: 8rem;
  }
  .started__btn > .btn:hover {
    background-color: rgba(255, 0, 0, 0.767);
    color: #fff !important;
  }
}
